
.card-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
} 

.card{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    width: 25vw;
    height: 45vh;
    padding: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-title{
    font-size: 40px;
    font-weight: bold
}

.card-organization{
    font-size:35px ;

}

.card-time{
    font-size: 30px;
}

.card-skills{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.skill{
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

button{
    width: 10vw;
    font-size: 20px;
    font-weight: bold;
}

.page-title{
    display: flex;
    justify-self: center;
    justify-content: center;
}

.expanded-card{
    position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  flex-direction: column;
  height:80vh ;
  width: 90vw;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  padding: 20px;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.corner-request-references{
    position: absolute;
    bottom: 0px;
    right: 15px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

.exp-card-title{
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    justify-self: top;
}

.box-for-sides{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
    width: 80vw;
}

.box-for-sides, 
.left-side, 
.right-side{
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding: 20px;
}

.box-for-sides{
    border-color: white;
}

.left-side, 
.right-side {
    width: 40vw;
    height: 60vh;
}

.card-skills{
    display: flex;
    flex-wrap: wrap;
}


.html, 
.fundraising {
    background-color:#FCEAEA;
}

.css, 
.event-planning {
    background-color:#D6EAF8 ;
}

.js, 
.marketing {
    background-color:#FFEEDB ;
}

.web-design {
    background-color:#E8E6F2 ;
}

.graphic-design {
    background-color:#E3FCEC ;
}


.public-speaking, 
.resource-management {
    background-color:#F5E1F5 ;
}

.entrepreneurship {
    background-color:#F5F5F5 ;
}

.teaching { 
    background-color: #EAEAFD;
}

.communication {
    background-color:#FFFBDD ;
}

.python, 
.lead-generation, 
.design-thinking, 
.machine-learning, 
.online-marketplace-management{
    background-color: #E9F6E3;
}

.image-carousel-card {
    display: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-carousel-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.image-carousel-caption p{
    font-size: 20px;
    text-align: center;
}

.image-carousel-button-section {
    margin-top: 10px;
}

.skill {
    width: fit-content;
}

.right-bottom{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img {
    height: 40vh;
    width: 40vw;

}

.uoqmunthenkhung-regular {
  font-family: "UoqMunThenKhung", serif;
  font-weight: 400;
  font-style: normal;
}

.page-title, 
.card-title {
    font-family: "UoqMunThenKhung";
}

.skill, 
.image-carousel-caption, 
.corner-request-references, 
.right-top {
    font-family: monospace;
}

.card-skills, 
.skill, 
.right-top {
    font-family: monospace;
    color: black;
}

.left-side iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

body, 
.expanded-card {
    background-color: #cfdee7;
}

button {
    background-color: #ce2d4f;
    color: white;
}

.expanded-card button{
    background-color:#3c787E ;
    color: white;
}

.right-top p{
  font-size: clamp(1rem, 2vh, 10vh);
}

.image-carousel img{
    width: 100%;
    height: 100%;
}