.uoqmunthenkhung-regular {
  font-family: "UoqMunThenKhung", serif;
  font-weight: 400;
  font-style: normal;
}

.page-title, 
.section-title {
  font-family: "UoqMunThenKhung";
  color: #2F1847;
}

p {
  font-family: monospace;
  color: black;
  font-size: 2vh;
}

body {
  background-color: #CFDEE7;

}

.name1, 
.name2 {
  font-weight: bold;
  font-size: 15vh;
  justify-content: center;
  text-align: center;
  color: black;
  text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}


.name2 {
  color: black;
}

.big-box {
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.box-left-side {
  width: 33%;
}
.box-left-side img {
  width: 100%;
}


.box-right-side {
  width: 33%;
  align-items: center;
  justify-content: center;
}
.box-right-right-side{
  width: 25%;
  

}

.adjectives {
  text-align: center;
  align-self: baseline;
  font-size: 6vh;
}

.name {
  height: 50vh;
  width: auto;
}