.progress-bar.bg-actual {
  background: #b445f5;
  border-radius: 0;
}

.progress-bar.bg-projected {
  background: blue;
  position: relative;
}

.progress-bar.bg-projected:before {
  width: 30px;
  height: 30px;
  border-radius:0 500px 500px 0;
  background-color: #b445f5;    
  display: inline-block;
  vertical-align: middle;
  content: '';
}

.progress-bar {
  border-radius: 0 500px 500px 0;
}


.progress {
  border-radius: 500px !important;
  height: 30px !important;
}

.my-score{
    color: blue;
}

.all-test-takers-score a{
    color: #b445f5;
}
.all-test-takers-score{
  color: #b445f5;
}


.exam-session-year{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.exam-administrator{
    display: flex;
    justify-content: center;
}

.test-title {
  font-weight: bold;
  font-size: 20px;
}

.accordion {
  padding: 20px;
}

.education-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}

.big-sig-box {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: flex-start;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  margin: 20px;
}

.sig-box-left-side {
display:flex;
flex: 1 1 45%;
justify-content: center;
padding-right: 10px;
padding-left: 10px;
flex-wrap: nowrap;
}

.sig-box-right-side{
display: flex;
justify-content: center;
justify-self: right;
padding-left: 10px;
padding-right: 10px;
flex: 1 1 45%;
}

.sig-title, 
.sig-time{
  margin: 20px;
}